
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h2>Welcome to the Tipping Calculator</h2>
    </div>
        <div class="container">
            <h2 class="alert-heading">How to use the Tipping Calculator!!!</h2>
            <span class="h3">
                <span style="font-family:Verdana, Geneva, sans-serif;">
                    <ol>
                        <li>Input the dollar value your bill is marked at with decimal points.</li>
                        <li> Select the amount of tip you would like to give.</li>  
                        <li> Press enter!!!</li>
                    </ol>
                </span>
            </span>
        </div>
    <div class="container">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="user input">$</span>
            </div>
            <input id="amount" type="text" class="form-control" aria-label="input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <br>
        <div class="col text-center">
            <div class="btn-group-lg" role="group" aria-label="Percantage Button">
                <button id="15B" type="button" class="btn btn-secondary">15%</button>
                <button id="18B" type="button" class="btn btn-secondary">18%</button>
                <button id="20B" type="button" class="btn btn-secondary">20%</button>
            </div>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="user input">Total:</span>
            </div>
            <input id="outputbox" type="text" class="form-control" aria-label="input" aria-describedby="inputGroup-sizing-lg">
        </div>
        
        
        
    </div>
</div>
